.bg_1{
    background-image: url(../image/j06.webp);
}
.bg_2{
    background-image: url(../image/videoplayback.mp4_20240107_003246.397.webp);
}
.bg_3{
    background-image: url(../image/factory.webp);
}
.bg_4{
    background-image: url(../image/3.webp);
}
.fixed_bg, .infos{
position: relative;
}
html, body{
    height: 100%;
}
.fixed_bg{
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.vcenter{
	position: absolute;
	top: 80%;
	left: 15px; right: 15px;
	transform: translate(0, -50%);
	text-align: center;
	color: #ffffff;
	transition: all .25s;
    font-size: 20px;
}
.ico_pos{
    padding: 50px;
  }