.bg_1 {
    background-image: url(../image/j06.webp);
    background-image: -webkit-image-set(url(../image/j06.webp) 1x, url(../image/j06-2x.webp) 2x);
}

.bg_2 {
    background-image: url(../image/videoplayback.mp4_20240107_003246.397.webp);
    background-image: -webkit-image-set(url(../image/videoplayback.mp4_20240107_003246.397.webp) 1x, url(../image/videoplayback-2x.webp) 2x);
}

.bg_3 {
    background-image: url(../image/factory.webp);
    background-image: -webkit-image-set(url(../image/factory.webp) 1x, url(../image/factory-2x.webp) 2x);
}

.bg_4 {
    background-image: url(../image/3.webp);
    background-image: -webkit-image-set(url(../image/3.webp) 1x, url(../image/3-2x.webp) 2x);
}

.fixed_bg,
.infos {
    position: relative;
}

html,
body {
    height: 100%;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;

}

.fixed_bg {
    background-attachment: fixed;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

.vcenter {
    position: absolute;
    top: 80%;
    left: 15px;
    right: 15px;
    transform: translate(0, -50%);
    text-align: center;
    color: #ffffff;
    transition: all .25s;
    font-size: 20px;
}

.ico_pos {
    padding: 50px;
}
