body {
	background-image: url(../image/IMG_20230821.webp);
	background-repeat: no-repeat;
	background-position: center bottom;
	color: #fff;
	background-size: cover;
	background-attachment: fixed;
	font-family: arial,helvetica,sans-serif,微軟正黑體;
}
.ico_pos{
  padding-bottom: 30px;
}
.box {
	background-color: rgba(28, 28, 28, 0.6);
	padding: 20px;
}
.top {
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0; 
  z-index: 1;
}
.top nav{
	background-color: rgba(0, 0, 0, 0.6);
	border-color: rgba(50,50,50,0.6);
}
.navbar-dark .navbar-brand{
	color: #ffffff;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{
	background-color: #ffffff6e;
	color: rgba(0,0,0,.9);
}
.navbar-dark .navbar-brand:focus, .navbar-light .navbar-brand:hover{
	color:  #ff5943;
}
.navbar-dark .navbar-nav .nav-link {
	color: #FFFFFF;
}
.navbar-dark .navbar-nav .nav-link:hover {
	color:  #ff5943;
}
.my_photo {
	width: 160px;
}

.info p {
	font-size: 15px;
	text-align: center;
}
.info p.name_id {
	font-size: 20px;
	margin-top: 15px;
}
.contact {
	text-align: center;
}
.contact ul {
	padding-left: 0;
	list-style: none;
}
.contact ul li {
	display: inline-block;
	padding: 0px 20px;
	font-size: 30px;
}
.contact ul li a{
	color: #FFFFFF;
}
.contact ul li a:hover{
	color: rgb(150, 150, 102);
}
.collapse{
	color: #FFFFFF;
}
h1{
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    margin: 100px auto 0 auto;
}
p{
    color: #c9ffed;
    font-size: 23px;
}
li p{
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
}
h2{
    text-align: center;
    color: #ffffff;
    font-size: 35px;
    margin: 100px auto 0 auto;
}
h3{
  color: #ffffff;
  font-size: 35px;
}
h4{
	color: #ffffff;
  font-size: 28px;
}
.con{
  padding:20px
}
.col{
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff21;
   margin: 10px 5px;
  border-radius:10px;
}
.container{
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0 5px;
  width: 750px;
  margin: 100px auto;
  border: 5px;
}
footer{
  text-align: center;
  color: #ffffff;
}
.pos_fixed{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px;
  position: fixed;
  top: 0;

  background-color: rgba(0, 0, 0, 0.539);
}
.pos_fixed li{
	display: inline-block;
}

.pos_fixed li a{
	display: block;
	padding: 5px 25px;
	text-decoration:none;
	color: #ffffff;
}
.pos_fixed li a:hover{
	color: #ff5943;
}
@media (max-width: 1300px) {
  .container{
    display: block;
    width: 650px;
  }
  li a img{
    width: 600px;
  }
}
@media (max-width: 768px) {
  .container{
    display: block;
    width: 650px;
  }
  video{
    width: 500px;
  }
  li a img{
    width: 500px;
  }
  iframe{
    width: 500px;
  }
}
@media (max-width: 649px) {
  .container{
    display: block;
    width: 430px;
  }
  video{
    width: 390px;
  }
  li a img{
    width: 390px;
  }
  iframe{
    width: 390px;
  }
}
.fixed_div{
  padding: 25px;
  position: fixed;
  bottom: 0;
  right: 0;
}
